.gifts {
  background-color: rgb(242, 242, 242);
  color: #565147 !important;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
  font-family: "JosefinSlab";
  font-weight: bold;
}

div.ant-card-cover {
  height: 100%;
}

.giftsGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));;
  gap: 20px;
  padding: 0 1%;
  align-items: center;
  justify-items: center;
  /* border: 1px solid #2F4858 ; */
}

.form {
  gap: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modalContainer {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  gap: 1em;
  color: #2F4858;
  font-family: "JosefinSlab";
  font-weight: bold;
}

.cardContent {
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardContent > p {
  margin: 0 !important;
  font-size: 1.1em;
  text-align: center;
}

.cardContent > button {
  margin-top: 1em !important;
  color: white;
  background-color: #C66C49;
  border-color: #ac5e3f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContent > button:hover {
  color: white;
  background-color: #c66c498f;
  border-color: #9f573b99;
}

.paymentDescription {
  font-size: 1.3em;
  width: 100%;
  display: flex;
  align-items: center;
}

@media (max-width:800px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 

  .modalContainer {
    grid-template-columns: 1fr;
  }

  .paymentDescription > div {
    display: none;
  }
  
}







