.gifts {
  background-color: rgb(242, 242, 242);
  color: #565147 !important;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 0 3rem;
  width: 100vw;
  max-width:100%;
}

.giftsGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));;
  gap: 20px;
  padding: 0 2%;
  align-items: center;
  justify-items: center;
  /* border: 1px solid #2F4858 ; */
}

.form {
  gap: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modalContainer {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  gap: 1em;
  color: #2F4858;
}

@media (max-width:800px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 

  .modalContainer {
    grid-template-columns: 1fr;
  }
  
}







