.location {
  background-color: #345870;
  color: #d8d8d8;
  flex-direction: column;
  align-items: center;
  /* height: 70vh; */
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width:100%;
  padding: 1em 1em;

}

.listItem {
  cursor: pointer;
  /* height: 10em; */
  padding: 1em;
  display: flex;

}

.listItem > div {
  display: flex !important;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: 10px !important;
}

.listItem:hover {
  background-color: rgba(128, 128, 128, 0.241);;
}

.listItem + .listItem {
  border-top: 1px solid rgba(128, 128, 128, 0.063);
}

.locationInternal {
  padding: 2%;
  display: grid;
  gap: 1.5vw;
  width: 60%;
  background-color: white;
  border-radius: 10px

}

.recommendationTitle {
  color: #F9F9F9; 
  text-align: center; 
  margin: 0
}

.recommendationCodeDiv {
  width: 60%;
  align-self: center;
  justify-self: center;
}

.headerGuestList {
  display: grid;
  grid-template-columns: 1fr 8rem;
}

.headerGuestListConfirm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;


}


.confirmTxt {
  grid-column: 1 / span 2;
}


.guestListToConfirm {

}

.sendBtnReady {
  display: flex;
  gap: 5px;
  align-items: center;
  color: white;
  background-color: #345870;
  justify-content: center;
  justify-self: center;
}

.sendBtn {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

@media (max-width: 1200px)  { 
  .cityTitle {
    font-size: 2.2em;
  }
}
