.party {
  background-color: #345870;
  color: #f2f2f2;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  padding: 2em 2em;

}

.partyInternal {
  text-align: center;
  /* padding: 2%; */
  display: grid;
  grid-template-columns: 1fr 20px 2.5fr;
  gap: 2vw;
  width: 100%;

  /* border: 1px solid #EB9928; */
}

.partyInternal * p {
  color: #bd968f;
  font-family: "JosefinSlab";
  font-weight: bolder;
  font-size: 1.8em;
}

.map {
  height: 50vh;
  width: 40vw;
  background-color: white;
}

.mapCenter {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px)  { /* smartphones, iPhone, portrait 480x320 phones */ 

}
@media (max-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

}
@media (max-width: 1200px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 

   .timer, .socialTxt, .avatar, .armazemPicture {
    display: none !important;
  }

  .map {
    height: 40vh;
    width: 60vw;
  }

  .party {
    height: 130vh;
    padding: 0.8em;
  
  }

  .partyInternal {
    grid-template-columns: 1fr !important;
  }

  .socialDiv, .avatarSpan {
    grid-column: 1 !important;
  }

  .locationContainer {
    grid-template-columns: 1fr !important;
  }
  .partyInternal {
    grid-template-columns: 1fr !important;
  }
}
@media (max-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 

}

.locationContainer {
  /* display: grid; */
  grid-template-columns: repeat(2, minmax(17em, 1fr));
  gap: 2em;
  align-items: center;
}

.avatarSpan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  grid-column: 1 ;
  color: #bd968f;
  font-family: "JosefinSlab";
}

.armazemPicture {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text {
  font-size: 20px !important;
}

.titleParty {
  color:#f2f2f2;
  justify-content: center;
  font-size: 4.5em;
  
  /* font-family: "Halimun"; */
  
}

.icons {
  size: 40;
  font-size: 40 !important;
  color: #bd968f;
  margin-left: 15px;
}


.socialDiv {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-around;
}

.socialMediaDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.SvgDivider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.SvgDivider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
}

.shapeFill {
  fill: #345870;
  background-color: red;
}