

.ourStory {
  background-color: #f2f2f2;
  color: #2F4858;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width:100%;
}

.quizDiv {
  /* border: 1px solid #2F4858 ; */
  padding: 2%;
  display: grid;
  width: 100%;
  grid-template-columns: 1.3fr minmax(15em, 1fr) minmax(15em, 1fr) minmax(15em, 1fr);  
  row-gap: 2em;
  justify-items: center;
}

.quizCard {
  width: 15em;
  height: 15em;
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #C66C49;
}

.backQuizCard {
  background-color: #345870;
}

.quizCardBody {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
  color: #345870;
}

.backTxt {
  font-size: 1.3em;
  color: #C66C49
}



.customShapeDivider {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.customShapeDivider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
}

.shapeFill {
  fill: #f2f2f2;
}




.image {
  z-Index: -1;
  object-fit: fill;
  /* width: 100vw;
  max-width:100%;

  aspect-ratio: 1920/1080;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top:-120px;  */

  width:100%;
  height:100%;

}

.contentStyle {
  height: 500px;
  color: #fff;
  background: #364d79;
  display: flex !important;
    align-items: center;
    justify-content: center;
}

.twoColumn {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 2fr 1.3fr;
}