

.ourStory {
  background-color: #f2f2f2;
  color: #2F4858;
  padding: 1em 3.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width:100%;
  margin-bottom: 5em;
}

.quizDiv {
  padding: 5%;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));  
  row-gap: 1.4em;
  justify-items: center;
  top: 100vh;
  position: absolute
}

.quizCard {
  width: 13em;
  height: 13em;
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #588292;
  /* border-radius: 50%; */
  font-family: "JosefinSlab";
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  border:  1px solid #3b5863 !important;
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.48)

}

.quizTitleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 1 / span 3;
  grid-column: 1 / span 2;
}

.quizTitleHeading {
  color: #345870;
  font-family: DreamAvenue;
  font-size: 4.5em;
  text-align: center;
}

.quizDescription {
  color: #345870;
  font-family: JosefinSlab;
  font-size: 2em;
}

.backQuizCard {
  background-color: #9F4E3D;
  border:  1px solid #6d352a !important;
}

.quizCardBody {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  color: #e4e6ea;
}

.backTxt {
  font-size: 1em;
  color: #fffdef;
  margin-bottom: 0 !important;
}



.customShapeDivider {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.customShapeDivider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
}

.shapeFill {
  fill: #f2f2f2;
}




.image {
  z-Index: -1;
  object-fit: cover;
  /* width: 100vw;
  max-width:100%;

  aspect-ratio: 1920/1080;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top:-120px;  */

  width:100%;
  height:100%;

}

.contentStyle {
  height: 529px;
  color: #fff;
  background: #f2f2f2;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.twoColumn {
  margin-top: 1em;
  display: grid;
  gap: 5em;
  grid-template-columns: 2fr 1.3fr;
}

.ourStoryDiv {
  text-align: center; 
  position: relative
}

.ourStoryDiv > div[aria-label="animation"] {
  position: absolute;
  top: -120px
}

.ourStoryTitle {
  color: #345870;
  display: flex;
  justify-content: center;
  margin-left: 75px;
}

.ourStoryTitle * svg {
  /* height: 50% !important; */
  /* width: 50% !important; */
}

.imageMobile {
  display: none;
}

@media (max-width:1650px)  { 
  .quizDiv {
    top: 125vh;
  }
}

@media (max-width:1400px)  { 
  .quizTitleDiv {
    grid-column: 1;
  }
}
@media (max-width:1250px)  { 
  .carouselDiv {
    display: none;
  }
  .quizDiv {
    position: unset;
    top: 125vh;
  }
  .twoColumn {
    display: grid;
    gap: 0em;
    grid-template-columns: 1fr;
  }
  .ourStory {
    padding: 20px;
  }
  .quizTitleDiv {
    top: -30px;
    grid-column: 1;
    
  }
  .quizTitleHeading {
    font-size: 3em;
  }
  .quizDescription {
    font-size: 1em;
  }
  .imageMobile {
    display:block;
    width: 100%;
  }
  .image {
    display: none;
  }

  /* .cropContainer{
    display: inline-block;
    height: 200px;
    width: 100%;
    overflow: hidden;
  } 
  .cropContainer img{
    width: 100%;
    height: 400px;
  } */
  .ourStoryDiv > div[aria-label="animation"] {
    top: -80px
  }

}

.carouselDiv {
  width: 55vw;
  padding: 1em;
  background-color: white;
  border-radius: 20px;
}